<% if @application.errors.any? %>

<div class="alert alert-danger" role="alert" align="center" style="text-align=center">
  <h4 class="alert-heading">The following errors prevented the application from being saved</h4>
    <% @application.errors.full_messages.each do |msg| %>
      <p class="mb-0"><%= msg %></p>
    <% end %>
<% end %>
</div>

<%= form_with url: '/applications', method: :post, local: true do |form| %>

<br/>

<h1 align="center">
  <img src="https://lh3.googleusercontent.com/proxy/3UjAv5ZYYvUchMoaha07U8G_yC2Sxib1O3G585ES5vbPayKGUf9cwNittNwzPfchDqpN7qXkJTMrm0BzhpqHfJ9F0Rfpefl9O-M">
</h1>
<br/>
  <div class="container-fluid" align="center" style="text-align=center">

    <div class="col-sm-3">
      <div class="card" style="background-color: #ffc40c">
        <div class="card-block">
          <br/>
          <ul class="card-title">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <br>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <%= form.label :street, "Street Address" %>
      <%= form.text_field :street %>

    <br>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <%= form.label :city, "City" %>
      <%= form.text_field :city %>

    <br/>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <%= form.label :state, "State" %>
      <%= form.text_field :state %>

    <br/>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <%= form.label :zip_code, "Zip Code" %>
      <%= form.number_field :zip_code, min: 00001, max: 99999 %>
      </div>
    <br/>

    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <% form.label :description %>
      <%= form.hidden_field :description %>


    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <%= form.label :application_status, "Do not submit until all fields are completed." %>
      <%= form.hidden_field :application_status, value: 'In Progress'%>
      </div>
    <br/>

    <br/>

    <%= form.submit "Create Application", class: "btn btn-primary btn-outline-warning", data: { confirm: "Are you sure? It's a big responsibility." } %>
  </div>

  <% end %>
